.home-container {
  max-width: 1400px;        
  width: 90%;               
  margin: 60px auto;        
  padding: 60px 40px;       
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.06);
  text-align: center;
  
}

.home-container .home-subtitle {
  font-weight: 700;
  font-size: 1.2rem;
  color: #000000 !important;       /*El !important sirve para dar prioridad */
}



.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #111827;
}

.home-container p {
  color: #6b7280;
  margin-bottom: 40px;
  font-size: 1.1rem;
}

.shoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.shoe-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.shoe-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.shoe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.shoe-card h3 {
  margin: 15px 0 10px;
  font-size: 1.3rem;
  color: #111827;
}

.shoe-card p {
  padding: 0 15px 20px;
  color: #6b7280;
  font-size: 0.95rem;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

@media (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .contact-card {
    grid-template-columns: 1fr;
    padding: 1.8rem 1.5rem;
  }
}

.shoe-row-text {
  grid-column: 1 / -1; 
  margin: 10px 0 20px;
  font-weight: 500;
  color: #374151;
}

.shoe-row-text p {
  font-weight: 700;      
  font-size: 1.2rem;     
  color: #111827;      
}

.home-contact-text {
  margin-top: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 1.05rem;
  color: #111827;
}

.home-contact-button-wrapper {
  margin-top: 40px;
  text-align: center;
}

.home-contact-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  background-color: #111827;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s ease, transform 0.1s ease,
    box-shadow 0.2s ease;
}

.home-contact-button:hover {
  background-color: #000000;
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}
